* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}


#container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    height: 497px;
    width: 320px;
    padding: 20px;
    border-radius: 20px;
}

#image,
img {
    height: 288px;
    width: 288px;
    border-radius: 20px;
    margin-bottom: 20px;

}

#content,
h1,
p {
    text-align: center;
    width: 100%;
}

#content,
h1 {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-family: "Outfit", sans-serif;
    font-weight: 700;
}

#content,
p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-family: "Outfit", sans-serif;
    padding-top: 16px;
    font-weight: 400;

}